{% extends "DashboardBase.html" %}
{% load staticfiles %}
{% block maincontent %}

    <div class="content">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-rose">
                                <div id="roundedLineChart" class="ct-chart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Lecture View Times</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-warning">
                                <div id="straightLinesChart" class="ct-chart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Lab View Times</h4>

                            </div>
                        </div>
                    </div>

                     <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-icon card-header-danger">
                                <div class="card-icon">
                                    <i class="material-icons">pie_chart</i>
                                </div>
                                <h4 class="card-title">Pie Chart</h4>
                            </div>
                            <div class="card-body">
                                <div id="chartPreferences" class="ct-chart"></div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6 class="card-category">Legend</h6>
                                    </div>
                                    <div class="col-md-12">
                                        <i class="fa fa-circle text-info"></i> Finished
                                        <i class="fa fa-circle text-warning"></i> Not Finished
                                        <i class="fa fa-circle text-danger"></i> Stared
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{#                    <div class="col-md-4">#}
{#                        <div class="card card-chart">#}
{#                            <div class="card-header card-header-info">#}
{#                                <div id="simpleBarChart" class="ct-chart"></div>#}
{#                            </div>#}
{#                            <div class="card-body">#}
{#                                <h4 class="card-title ">Simple Bar Chart</h4>#}
{#                                <p class="card-category">Bar Chart</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}


    <script src="{% static "/assets/js/plugins/chartist.min.js" %}"></script>


    <script type="text/javascript">
        $(document).ready(function () {


        if ($('#dailySalesChart').length != 0 || $('#completedTasksChart').length != 0 || $('#websiteViewsChart').length != 0) {
            /* ----------==========     Daily Sales Chart initialization    ==========---------- */

            dataDailySalesChart = {
                labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
                series: [
                    [12, 17, 7, 17, 23, 18, 38]
                ]
            };

            optionsDailySalesChart = {
                lineSmooth: Chartist.Interpolation.cardinal({
                    tension: 0
                }),
                low: 0,
                high: 50, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
                chartPadding: {
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 0
                },
            }

            var dailySalesChart = new Chartist.Line('#dailySalesChart', dataDailySalesChart, optionsDailySalesChart);

            md.startAnimationForLineChart(dailySalesChart);



            /* ----------==========     Completed Tasks Chart initialization    ==========---------- */

            dataCompletedTasksChart = {
                labels: ['12p', '3p', '6p', '9p', '12p', '3a', '6a', '9a'],
                series: [
                    [230, 750, 450, 300, 280, 240, 200, 190]
                ]
            };

            optionsCompletedTasksChart = {
                lineSmooth: Chartist.Interpolation.cardinal({
                    tension: 0
                }),
                low: 0,
                high: 1000, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
                chartPadding: {
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 0
                }
            }

            var completedTasksChart = new Chartist.Line('#completedTasksChart', dataCompletedTasksChart, optionsCompletedTasksChart);

            // start animation for the Completed Tasks Chart - Line Chart
            md.startAnimationForLineChart(completedTasksChart);


            /* ----------==========     Emails Subscription Chart initialization    ==========---------- */

            var dataWebsiteViewsChart = {
                labels: ['J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D'],
                series: [
                    [542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895]

                ]
            };
            var optionsWebsiteViewsChart = {
                axisX: {
                    showGrid: false
                },
                low: 0,
                high: 1000,
                chartPadding: {
                    top: 0,
                    right: 5,
                    bottom: 0,
                    left: 0
                }
            };
            var responsiveOptions = [
                ['screen and (max-width: 640px)', {
                    seriesBarDistance: 5,
                    axisX: {
                        labelInterpolationFnc: function(value) {
                            return value[0];
                        }
                    }
                }]
            ];
            var websiteViewsChart = Chartist.Bar('#websiteViewsChart', dataWebsiteViewsChart, optionsWebsiteViewsChart, responsiveOptions);

            //start animation for the Emails Subscription Chart
            md.startAnimationForBarChart(websiteViewsChart);
        }


        if ($('#roundedLineChart').length != 0 && $('#straightLinesChart').length != 0) {
            /* ----------==========    Rounded Line Chart initialization    ==========---------- */

            dataRoundedLineChart = {
                labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
                series: [
                    [12, 17, 7, 17, 23, 18, 38]
                ]
            };

            optionsRoundedLineChart = {
                lineSmooth: Chartist.Interpolation.cardinal({
                    tension: 10
                }),
                axisX: {
                    showGrid: false,
                },
                low: 0,
                high: 50, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
                chartPadding: {
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 0
                },
                showPoint: false
            }

            var RoundedLineChart = new Chartist.Line('#roundedLineChart', dataRoundedLineChart, optionsRoundedLineChart);

            md.startAnimationForLineChart(RoundedLineChart);


            /*  **************** Straight Lines Chart - single line with points ******************** */

            dataStraightLinesChart = {
                labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
                series: [
                    [12, 7, 7, 20, 13, 36, 7]
                ]
            };

            optionsStraightLinesChart = {
                lineSmooth: Chartist.Interpolation.cardinal({
                    tension: 0
                }),
                low: 0,
                high: 50, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
                chartPadding: {
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 0
                },
                classNames: {
                    point: 'ct-point ct-white',
                    line: 'ct-line ct-white'
                }
            }

            var straightLinesChart = new Chartist.Line('#straightLinesChart', dataStraightLinesChart, optionsStraightLinesChart);

            md.startAnimationForLineChart(straightLinesChart);




            /*  **************** Public Preferences - Pie Chart ******************** */

            var dataPreferences = {
                labels: ['62%', '32%', '6%'],
                series: [62, 32, 6]
            };

            var optionsPreferences = {
                height: '230px'
            };

            Chartist.Pie('#chartPreferences', dataPreferences, optionsPreferences);

            /*  **************** Simple Bar Chart - barchart ******************** */

{#            var dataSimpleBarChart = {#}
{#                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],#}
{#                series: [#}
{#                    [542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895]#}
{#                ]#}
{#            };#}
{##}
{#            var optionsSimpleBarChart = {#}
{#                seriesBarDistance: 10,#}
{#                axisX: {#}
{#                    showGrid: false#}
{#                }#}
{#            };#}
{##}
{#            var responsiveOptionsSimpleBarChart = [#}
{#                ['screen and (max-width: 640px)', {#}
{#                    seriesBarDistance: 5,#}
{#                    axisX: {#}
{#                        labelInterpolationFnc: function(value) {#}
{#                            return value[0];#}
{#                        }#}
{#                    }#}
{#                }]#}
{#            ];#}
{##}
{#            var simpleBarChart = Chartist.Bar('#simpleBarChart', dataSimpleBarChart, optionsSimpleBarChart, responsiveOptionsSimpleBarChart);#}

            //start animation for the Emails Subscription Chart
            md.startAnimationForBarChart(simpleBarChart);

        }



        });
    </script>



{% endblock %}