{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Self Study Center</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel='stylesheet' href= '{% static "css/style.css" %}'/>

      {% block reference %}

      {% endblock %}

  </head>

    {% block style %}

    {% endblock %}

  <body>


  {% block content %}{% endblock %}


  {% block script %}{% endblock %}
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="{% static "js/jquery.idle.js" %}"></script>

  <script src="{% static "js/index.js" %}"></script>

  </body>
</html>
