{% extends "DashboardBase.html" %}
{% load staticfiles %}
{% block maincontent %}

    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-calendar">
                        <div class="card-body ">
                            <div id="fullCalendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for task in open_tasks %}

        {{ task.Date_Due }}


    {% endfor %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {
        $calendar = $('#fullCalendar');
        today = new Date();
        y = today.getFullYear();
        m = today.getMonth();
        d = today.getDate();

        $calendar.fullCalendar({
            viewRender: function(view, element) {
                // We make sure that we activate the perfect scrollbar when the view isn't on Month
                if (view.name != 'month') {
                    $(element).find('.fc-scroller').perfectScrollbar();
                }
            },
            header: {
                left: 'title',
                center: '',
                right: 'prev,next'
            },
            defaultDate: today,
            selectable: true,
            selectHelper: true,
            views: {
                month: { // name of view
                    titleFormat: 'MMMM YYYY'
                    // other view-specific options here
                },
                week: {
                    titleFormat: " MMMM D YYYY"
                },
                day: {
                    titleFormat: 'D MMM, YYYY'
                }
            },

            select: function(start, end) {

                // on select we show the Sweet Alert modal with an input
                swal({
                    title: 'Create an Event',
                    html: '<div class="form-group">' +
                        '<input class="form-control" placeholder="Event Title" id="input-field">' +
                        '</div>',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false
                }).then(function(result) {

                    var eventData;
                    event_title = $('#input-field').val();

                    if (event_title) {
                        eventData = {
                            title: event_title,
                            start: start,
                            end: end
                        };
                        $calendar.fullCalendar('renderEvent', eventData, true); // stick? = true
                    }

                    $calendar.fullCalendar('unselect');

                });
            },
            editable: true,
            eventLimit: true, // allow "more" link when too many events


            // color classes: [ event-blue | event-azure | event-green | event-orange | event-red ]
            events: [

                {% for task in open_tasks %}

                {
                    title: '{{ task.Name }}',
                    start: new Date("{{ task.Date_Due.isoformat }}"),
                    className: 'event-default',
                    allDay: true,
                    url: '/dashboard'
                },
                {% endfor %}


                {% for task in star_tasks %}

                {
                    title: '{{ task.Name }}',
                    start: new Date("{{ task.Date_Due.isoformat }}"),
                    className: 'event-azure',
                    allDay: true,
                    url: '/dashboard'
                },
                {% endfor %}

                {% for task in closes_tasks %}

                    {
                        title: '{{ task.Name }}',
                        start: new Date("{{ task.Date_Due.isoformat }}"),
                        className: 'event-rose',
                        allDay: true,
                        url: '/dashboard'
                    },
                {% endfor %}





            ]
        });
  });
</script>
{% endblock %}