{% extends "DashboardBase.html" %}
{% load staticfiles %}
{% block maincontent %}

    {% for task in Tasks %}
        <div class="modal fade" id="task{{ task.id }}" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header" style="padding:35px 50px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><span class="glyphicon glyphicon-pencil"></span>{{ task.Date_Created }}</h4>

                    </div>

                    <div class="modal-body" style="padding:40px 50px;">
                        <div class="form-group">
                            <label style="font-weight:bold">Name</label>
                            <br>

                            <p>{{ task.Name }}</p>


                        </div>
                        <div class="form-group">
                            <label style="font-weight:bold">Description</label>
                            <br>
                            <p>{{ task.Description }}</p>
                        </div>

                        <div class="form-group">
                            <label style="font-weight:bold">Duration</label>
                            <br>
                            <p>{{ task.Duration }}</p>

                        </div>

                        <div class="form-group">
                            <label style="font-weight:bold">Due Date</label>
                            <br>
                            <p>{{ task.Date_Due }}</p>

                        </div>


                        <div class="form-group">
                            <label style="font-weight:bold">Additional</label>
                            <br>
                            <p>{{ task.Additional }}</p>


                        </div>

                        <label style="font-weight:bold">Priority</label>
                        <br>
                        <p>{{ task.Priority }}</p>
                        </br>
                    </div>


                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-block" name="newtask"> Finish
                        </button>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-rose" data-header-animation="true">
                            <div class="ct-chart" id="websiteViewsChart"></div>
                        </div>
                        <div class="card-body">
                            <div class="card-actions">
                                <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                        data-placement="bottom" title="Refresh">
                                    <i class="material-icons">refresh</i>
                                </button>
                                <button type="button" class="btn btn-default btn-link" rel="tooltip"
                                        data-placement="bottom" data-toggle="modal" data-target="#newtask1"
                                        title="Change Date">
                                    <i class="material-icons">edit</i>
                                </button>
                            </div>
                            <h4 class="card-title">Past Tasks</h4>
                            <p class="card-category">Tasks have been completed</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Name</th>
                                        <th>Date Created</th>
                                        <th>Due Date</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in Past_Tasks %}
                                        <tr data-toggle="modal" data-target="#task{{ task.id }}">
                                            <td class="text-center">1</td>
                                            <td>{{ task.Name }}</td>
                                            <td>{{ task.Date_Created }}</td>
                                            <td>{{ task.D }}</td>

                                            <td class="td-actions text-right">
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" rel="tooltip" class="btn btn-info btn-link"
                                                            name="open_task" value="{{ task.id }}"><i
                                                            class="material-icons">open_in_new</i></button>
                                                    <button type="submit" rel="tooltip"
                                                            class="btn btn-default btn-link" name="star_task"
                                                            value="{{ task.id }}">
                                                        <i class="material-icons">star</i>
                                                    </button>
                                                    <button type="submit" rel="tooltip" class="btn btn-danger btn-link" name="delete_task" value="{{ task.id }}">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> campaign sent 2 days ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-success" data-header-animation="true">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <div class="card-actions">

                                <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                        data-placement="bottom" title="Refresh">
                                    <i class="material-icons">refresh</i>
                                </button>
                                <button type="button" class="btn btn-default btn-link" rel="tooltip"
                                        data-placement="bottom" title="Change Date" data-toggle="modal" data-target="#newtask1">
                                    <i class="material-icons">edit</i>
                                </button>
                            </div>
                            <h4 class="card-title">To Do</h4>
                            <p class="card-category">Tasks to be done</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Name</th>
                                        <th>Date Created</th>
                                        <th>Due Date</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in Todo_Tasks %}
                                        <tr data-toggle="modal" data-target="#task{{ task.id }}">
                                            <td class="text-center">1</td>
                                            <td>{{ task.Name }}</td>
                                            <td>{{ task.Date_Created }}</td>
                                            <td>{{ task.Date_Due }}</td>
                                            <td class="td-actions text-right">
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" rel="tooltip" class="btn btn-info btn-link"
                                                            name="done_task" value="{{ task.id }}"><i
                                                            class="material-icons">done</i></button>
                                                    <button type="submit" rel="tooltip"
                                                            class="btn btn-default btn-link" name="star_task"
                                                            value="{{ task.id }}">
                                                        <i class="material-icons">star</i>
                                                    </button>
                                                    <button type="submit" rel="tooltip" class="btn btn-danger btn-link" name="delete_task" value="{{ task.id }}">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-info" data-header-animation="true">
                            <div class="ct-chart" id="completedTasksChart"></div>
                        </div>
                        <div class="card-body">
                            <div class="card-actions">
                                <button type="button" class="btn btn-info btn-link" rel="tooltip"
                                        data-placement="bottom" title="Refresh">
                                    <i class="material-icons">refresh</i>
                                </button>
                                <button type="button" class="btn btn-default btn-link" rel="tooltip"
                                        data-placement="bottom" title="Change Date" data-toggle="modal" data-target="#newtask1">
                                    <i class="material-icons">edit</i>
                                </button>
                            </div>
                            <h4 class="card-title">Star Tasks</h4>
                            <p class="card-category">Tasks have high priority</p>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Name</th>
                                        <th>Date Created</th>
                                        <th>Due Date</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in Star_Tasks %}
                                        <tr data-toggle="modal" data-target="#task{{ task.id }}">
                                            <td class="text-center">1</td>
                                            <td>{{ task.Name }}</td>
                                            <td>{{ task.Date_Created }}</td>
                                            <td>{{ task.Date_Due }}</td>
                                            <td class="td-actions text-right">
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" rel="tooltip" class="btn btn-info btn-link"  name="done_task" value="{{ task.id }}"><i
                                                            class="material-icons">done</i></button>
                                                    <button type="submit" rel="tooltip" class="btn btn-info btn-link" name="unstar_task" value="{{ task.id }}">
                                                        <i class="material-icons">star</i>
                                                    </button>
                                                    <button type="submit" rel="tooltip" class="btn btn-danger btn-link" name="delete_task" value="{{ task.id }}">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> campaign sent 2 days ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
