{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="{% static "/assets/img/apple-icon.png" %}">
  <link rel="icon" href="{% static "/assets/img/favicon.png"%}">
  <title>
    Dashboard
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <link rel="stylesheet" href= '{% static "assets/css/material-dashboard.css" %}'>
{#  <link href="{% static "/assets/assets-for-demo/demo.css" %}" rel="stylesheet" />#}
  <!-- iframe removal -->

</head>

<body class="">

  <div class="wrapper">
    <div class="sidebar sidebar-back" data-color="rose" data-background-color="black" data-image="{% static "assets/img/sidebar-1.jpg"%}">
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
            SR
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
           Learning Center
        </a>
      </div>
      <div class="sidebar-wrapper">
        <div class="user">
          <div class="photo">
            <img src="{% static "/assets/img/faces/avatar.jpg" %}" />
          </div>
          <div class="user-info">
            <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>
                  {{ user.first_name }} {{ user.last_name }}
                <b class="caret"></b>
              </span>
            </a>
            <div class="collapse" id="collapseExample">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span class="sidebar-mini"> MP </span>
                    <span class="sidebar-normal"> My Profile </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span class="sidebar-mini"> EP </span>
                    <span class="sidebar-normal"> Edit Profile </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span class="sidebar-mini"> S </span>
                    <span class="sidebar-normal"> Settings </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
          <ul class="nav">
              <li class="nav-item
              {% if view == "goal" %}
              active
              {% endif %}">
                  <a class="nav-link" href="/dashboard">
                      <i class="material-icons">dashboard</i>
                      <p> Goal Tracking Center </p>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" data-toggle="collapse" href="#courseContent">
                      <i class="material-icons">home</i>
                      <p> Course Content
                          <b class="caret"></b>
                      </p>
                  </a>
                  <div class="collapse" id="courseContent">
                      {% for course in courses %}
                          <a class="nav-link" data-toggle="collapse" href="#{{ course.id }}">
                              <i class="material-icons">list</i>
                              <p> {{ course.WeekLabel }}
                                <b class="caret"></b>
                            </p>
                        </a>

                        <div class="collapse" id="{{ course.id }}">

                            <ul class="nav">
                                <a class="nav-link" href="/dashboard/lecture/{{course.lecture.id}}">
                                    <span class="col-md-2"> Lecture </span>
                                </a>

                            </ul>
                            <ul class="nav">
                                <a class="nav-link" href="/dashboard/lab/{{course.lecture.id}}">
                                    <span class="col-md-2"> Laboratory </span>
                                </a>

                            </ul>
                        </div>
                      {% endfor %}


                    </div>
                </li>


          <li class="nav-item
              {% if view == "studykit" %}
              active
              {% endif %}">
            <a class="nav-link" href="/dashboard/studykit">
              <i class="material-icons">content_paste</i>
              <p> Study Kit </p>
            </a>
          </li>
          <li class="nav-item

          {% if view == "analytics" %}
              active
              {% endif %}">
            <a class="nav-link" href="/dashboard/analytics">
              <i class="material-icons">timeline</i>
              <p> Analytics </p>
            </a>
          </li>
          <li class="nav-item
              {% if view == "calendar" %}
              active
              {% endif %}">
            <a class="nav-link" href="/dashboard/calendar">
              <i class="material-icons">date_range</i>
              <p> Calendar </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-minimize">
              <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
          </button>

            {% block icon %}
            {% endblock %}
            <div class="collapse navbar-collapse justify-content-end">
                <form class="navbar-form">
                    <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search...">
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                </button>


              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions
                      <b class="caret"></b>
                    </span>

                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#pablo">Mike John responded to your email</a>
                  <a class="dropdown-item" href="#pablo">You have 5 new tasks</a>
                  <a class="dropdown-item" href="#pablo">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="#pablo">Another Notification</a>
                  <a class="dropdown-item" href="#pablo">Another One</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="material-icons">person</i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

        <div class="modal fade" id="newtask1" role="dialog">
            <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-pencil"></span> New Task</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label  style="font-weight:bold">Name</label>
                            <br>

                            <input type='text' class="form-control" name="name" placeholder="Task name">


                        </div>
                        <div class="form-group">
                            <label style="font-weight:bold">Description</label>
                            <br>
                              <input type='text' class="form-control" name="description" placeholder="Put your description here">

                        </div>

                         <div class="form-group">
                            <label style="font-weight:bold">Duration</label>
                             <br>
                              <input type='text' class="form-control" name="duration" placeholder="Put your estimated duration here">

                        </div>

                         <div class="form-group">
                            <label style="font-weight:bold" >Due Date</label>
                            <br>
                            <input type='date' class="form-control" name="duedate" placeholder="Set up a due date">


                        </div>

                        <div class="form-group">
                            <label style="font-weight:bold" >Additional</label>
                            <br>
                            <input type='text' class="form-control" name="additional" placeholder="Any additional requirements?">


                        </div>

                         <label style="font-weight:bold" >Priority</label>
                            <br>
                        <div class="checkbox-radios">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="priority" type="checkbox" value="High"> High
                                    <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="priority" type="checkbox" value="Medium"> Medium

                                    <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="priority" type="checkbox" value="Low"> Low

                                    <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                                </label>
                            </div>
                        </div>
                         </br>
                        <button type="submit" class="btn btn-success btn-block" name="newtask"><span
                                class="glyphicon glyphicon-pencil"></span> &nbsp Post
                        </button>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
        </div>
        <!-- End Navbar -->

        {% block maincontent %}
        {% endblock %}
    </div>
  </div>

</body>
<!--   Core JS Files   -->

<script src="{% static "/assets/js/core/jquery.min.js" %}"></script>
<script src="{% static "/assets/js/core/popper.min.js" %}"></script>
<script src="{% static "/assets/js/bootstrap-material-design.js" %}"></script>
<script src="{% static "/assets/js/plugins/perfect-scrollbar.jquery.min.js" %}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="{% static "/assets/js/plugins/moment.min.js" %}"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{% static "/assets/js/plugins/bootstrap-datetimepicker.min.js" %}"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static "/assets/js/plugins/nouislider.min.js" %}"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{% static "/assets/js/plugins/bootstrap-selectpicker.js" %}"></script>
<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="{% static "/assets/js/plugins/bootstrap-tagsinput.js" %}"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static "/assets/js/plugins/jasny-bootstrap.min.js" %}"></script>
<!-- Plugins for presentation and navigation  -->
<script src="{% static "/assets/assets-for-demo/js/modernizr.js" %}"></script>
<!-- Material Dashboard Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="{% static "/assets/js/material-dashboard.js" %}"></script>
<!-- Dashboard scripts -->
<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<!-- Library for adding dinamically elements -->
<script src="{% static "/assets/js/plugins/arrive.min.js" type="text/javascript" %}"></script>
<!-- Forms Validations Plugin -->
<script src="{% static "/assets/js/plugins/jquery.validate.min.js" %}"></script>

<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="{% static "/assets/js/plugins/jquery.bootstrap-wizard.js" %}"></script>
<!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
<script src="{% static "/assets/js/plugins/bootstrap-notify.js" %}"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="{% static "/assets/js/plugins/jquery-jvectormap.js" %}"></script>
<!-- Sliders Plugin, full documentation here: https://refreshless.com/nouislider/ -->
<script src="{% static "/assets/js/plugins/nouislider.min.js" %}"></script>
<!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{% static "/assets/js/plugins/jquery.select-bootstrap.js" %}"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
<script src="{% static "/assets/js/plugins/jquery.datatables.js" %}"></script>
<!-- Sweet Alert 2 plugin, full documentation here: https://limonte.github.io/sweetalert2/ -->
<script src="{% static "/assets/js/plugins/sweetalert2.js" %}"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static "/assets/js/plugins/jasny-bootstrap.min.js" %}"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="{% static "/assets/js/plugins/fullcalendar.min.js" %}"></script>
<!-- demo init -->
<script src="{% static "/assets/js/plugins/demo.js" %}"></script>

{% block scripts %}
{% endblock %}


</html>