{% extends "base.html" %}
{% load staticfiles %}
<html>

{% block style %}

    <style>

        .body {

            background-image: url('{% static 'img/studying20online.jpeg' %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;

        }
    </style>

{% endblock %}
<body>

{% block content %}


    <div class="body">
    </div>


    <div class="login-page">

        <div class="form">

{#            {% if errors %}#}
{#                <div id="errors">#}
{#                    {% for error in errors %}#}
{#                        <div class="alert alert-danger" role="alert">{{ error }}</div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            {% endif %}#}

            <form class="register-form" method="POST" action="">

                {% csrf_token %}

                <input type='text' class="form-control" name="username_r" placeholder="Username">
                <input type='password' class="form-control" name="password_r" placeholder="Password">
                <input type='text' class="form-control" name="first_name" placeholder="First Name">
                <input type='text' class="form-control" name="last_name" placeholder="Last Name">
                <input type='text' class="form-control" name="email" placeholder="Email">
                <input type='text' class="form-control" name="faculty" placeholder="Faculty">
                <input type='text' class="form-control" name="degree" placeholder="Degree">


                <button type="submit" value="submit" name="register">Create</button>


                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>

            <form class="login-form" method="POST" action="">

                {% csrf_token %}

                <input type='text' class="form-control" name="username" placeholder="Username">
                <input type='password' class="form-control" name="password" placeholder="Password">

                <button type="submit" value="submit" name="login">login</button>


                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>



{% endblock content %}


</body>
</html>

