{% extends "DashboardBase.html" %}
{% load markdown_deux_tags %}
{% load staticfiles %}
{% block icon %}
    <form method="POST" action="">
        {% csrf_token %}

        <button class="btn btn-default btn-link" type="submit" name="addlec"
                onclick="demo.showSwal('success-message')">
            <i class="material-icons">open_in_new</i>
        </button>
    </form>
{% endblock %}
{% block maincontent %}
    <div class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                {% markdown STYLE %}
{{ lecture.Content }}
                {% endmarkdown %}

            </div>
        </div>
    </div>
{% endblock %}


