{% extends "DashboardBase.html" %}
{% load staticfiles %}
{% block maincontent %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">book</i>
                            </div>
                            <p class="card-category">Lectures</p>
                            <h3 class="card-title">{{lec_kit_count }}</h3>
                        </div>

                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                   cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th class="disabled-sorting text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for kit in lec_kits %}
                                    <tr>
                                        <td>{{ kit.id }}</td>
                                        <td>{{ kit.lecture.Name }}</td>
                                        <td> {{ kit.Date_Created }}</td>
                                        <td class="text-right">
                                            <form method="POST" action="">
                                                <a href="#" class="btn btn-link btn-info btn-just-icon like"><i
                                                        class="material-icons">favorite</i></a>
                                                <a href="/dashboard/lecture/{{ kit.lecture.id }}"
                                                   class="btn btn-link btn-warning btn-just-icon edit"><i
                                                        class="material-icons">dvr</i></a>

                                                {% csrf_token %}

                                                <button class="btn btn-link btn-danger btn-just-icon remove"
                                                        type="submit" name="delete_lecture" value="{{ kit.id }}"
                                                        onclick="demo.showSwal('delete-message')">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                               <i class="material-icons">date_range</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">graphic_eq</i>
                            </div>
                            <p class="card-category">Quiz</p>
                            <h3 class="card-title">0</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">pets</i>
                            </div>
                            <p class="card-category">Lab</p>
                            <h3 class="card-title">{{ lab_lit_count }}</h3>
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                   cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th class="disabled-sorting text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for kit in lab_kits %}
                                    <tr>
                                        <td>{{ kit.id }}</td>
                                        <td>{{ kit.lab.Name }}</td>
                                        <td> {{ kit.Date_Created }}</td>
                                        <td class="text-right">
                                            <form method="POST" action="">
                                                <a href="#" class="btn btn-link btn-info btn-just-icon like"><i
                                                        class="material-icons">favorite</i></a>
                                                <a href="/dashboard/lab/{{ kit.lab.id }}"
                                                   class="btn btn-link btn-warning btn-just-icon edit"><i
                                                        class="material-icons">dvr</i></a>

                                                {% csrf_token %}

                                                <button class="btn btn-link btn-danger btn-just-icon remove"
                                                        type="submit" name="delete_lab" value="{{ kit.id }}"
                                                        onclick="demo.showSwal('delete-message')">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
