{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block htmltitle %}
    <title>Study Kit</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'elec1601.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'pygments.css' %}" type="text/css" />
    <style>
    /* Style the list */
    ul.tab {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Float the list items side by side */
    ul.tab li {float: left; border: solid 1px black;}

    /* Style the links inside the list items */
    ul.tab li a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of links on hover */
    ul.tab li a:hover {background-color: #ddd;}

    /* Create an active/current tablink class */
    ul.tab li a:focus, .active {background-color: #ccc;}

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    </style>
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        CONTEXT: '{{ context_name }}',
        DATA_CAPTURE_URL: '{{ data_capture_url }}',
        DATA_CAPTURE_METHOD: '{{ data_capture_method }}',
        DATA_CAPTURE_SUBJECT_NAME: '{{ data_capture_subject_name }}',
        DATA_CAPTURE_VERB_NAME: '{{ data_capture_verb_name }}',
        DATA_CAPTURE_OBJECT_NAME: '{{ data_capture_object_name }}',
        DATA_CAPTURE_CONTEXT_NAME: '{{ data_capture_context_name }}'
      };
      function openTab(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active",
                                                                  "");
        }
        // Show the current tab, add active" class to link that opened tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }
</script>
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'doctools.js' %}"></script>
    <script type="text/javascript" src="{% static 'dynsite.js' %}?ver=160730"></script>
  </head>
  <body>
    {% block header %}
    <div id="top_header">
      <div>{{ top_title }}</div>
    </div>
    {% endblock %}

    <div class="related">
      <h3>Navigation</h3>
      <ul>
	<li class="root">
	  {% if url_home %}
	    <a href="{{ url_home }}">{{ url_home_text }}</a>
	  {% else %}
	     &nbsp;
	  {% endif %}
	</li>
	<li class="right">
	  {% if user_id %}
	    User: {{ user_id }}
	  {% else %}
	     &nbsp;
	  {% endif %}
	</li>
      </ul>
    </div>

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            <div class="section" id="elec1601-study-kit">
              <h1 class="centered">Study Kit</h1>

                <p>Click in one of the following sections.</p>
                <ul class="tab">
                  <li><a href="#" class="tablinks" 
                         onclick="openTab(event, 'Helped-Easy')">+ Conf./Easy
                         <br/>{{ xy_helped_easy_n }} links
                  </a></li>
                  <li><a href="#" class="tablinks" 
                         onclick="openTab(event, 'Helped-Difficult')">+Conf./Challeng.
                         <br/>{{ xy_helped_difficult_n }} links
                  </a></li>
                  <li><a href="#" class="tablinks"
                         onclick="openTab(event, 'Confused-Difficult')">- Conf./Challeng.
                         <br/>{{ xy_confused_difficult_n }} links
                  </a></li>
                  <li><a href="#" class="tablinks"
                         onclick="openTab(event, 'Confused-Easy')">- Conf./Easy
                         <br/>{{ xy_confused_easy_n }} links
                  </a></li>
                  <li><a href="#" class="tablinks"
                         onclick="openTab(event, 'Explain-Screens')">What is <br/>this page?</a></li>
                </ul>

                <div id="Helped-Easy" class="tabcontent">
                    {{ xy_helped_easy|safe }}
                </div>

                <div id="Helped-Difficult" class="tabcontent">
                    {{ xy_helped_difficult|safe }}
                </div>

                <div id="Confused-Difficult" class="tabcontent">
                    {{ xy_confused_difficult|safe }}
                </div>

                <div id="Confused-Easy" class="tabcontent">
                    {{ xy_confused_easy|safe }}
                </div>
                <div id="Explain-Screens" class="tabcontent">
                  <h3>What is this page?</h3>

                  <p>The tabs in this page show the links to the activities
                      that you labeled by clicking in a grid
                      at the bottom of the activity page like the following one.
                  </p>
                  <div style="text-align: center;">
                    <img src="{% static 'xy_grid_5x5.png' %}"
                         style="width:300px;"/>
                  </div>
                  <p>
                      Each tab in the page shows links for the activities
                      depending on where you put the label.
                      If you don't see any links, go back to the
                      activities, rate them by ticking anywhere in the 2D grid.
                      After approximately 15 minutes you will see their links
                      in these tabs.
                  </p>
                </div>
              {% if last_updated %}
              <div>
                  <p>Last updated: {{ last_updated }}</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
        &copy; Copyright {% now "Y" %}, The University of Sydney | Creative Commons License.
    </div>
  </body>
</html>
