{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
</head>
<body>
    <h1>Data entry in LECO</h1>

    {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
    {% endif %}

    {% if form %}
    <form enctype="multipart/form-data" action="{% url 'leco_input_page' %}"
          method="post">
      {% csrf_token %}
      {{ form.as_p }}
    <input type="submit" value="Vote" />
    </form>
    {% endif %}
	<h2>DEBUG</h2>
  <ul>
    <li>M1: {{ debug.m1 }}</li>
    <li>M2: {{ debug.m2 }}</li>
  </ul>
  </body>
</html>
